@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

.primary-bg-color {
    background-color: #252525;
}

.secondary-bg-color {
    background-color: #C09578;
}

.light-bg-color {
   background-color: #FFF; 
}

.dark-bg-color {
    background-color: #303030;
}

.primary-color {
    color: #369FFF;
}

.primary-bg-red {
    color: #F23847;
}

.primary-bg-green {
    color: #8AC53E;
}

.primary-bg-yellow {
    color: #FFD143;
}

.secondary-color {
    color: #BDBDBD;
}

.dark-color {
    color: #303030;
}

.light-color {
    color: #fcf5eb;
}

#header {
    height: auto;
    color: #FCF5EB;

}

/* HEADER */

#header .row {
    height: auto;
}

#header h1 {
    font-size: 7em;
}

#header .btn {
    position: relative;
    top: 125px;
}

#header .btn-outline-dark:hover {
    background-color: #369FFF;
}

#header .btn-outline-dark:hover > i {
    color: #FFF;
}

#header .circle {
    display: block;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    position: relative;
    top: 175px;
}

#imagem {
    background-color: #C09578;
    background-image: url(../img/tamara-bellis-A3Gd2b-98_g-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

@media(max-width: 800px) {

}

@media(max-width: 764px) {
    #header .circle {
        margin-top: 20px;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        position: unset;
    }

    #header h1 {
        font-size: 3em;
        text-align: center;
        margin-top: 20px;
    }
    
}

/* INFORMAÇÕES PESSOAIS */

#dados-pessoais {
    margin-top: 200px;
    margin-bottom: 100px;
}

#dados-pessoais .form-check {
    margin-left: 11px;
}