@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

.primary-bg-color {
    background-color: #252525;
}

.secondary-bg-color {
    background-color: #C09578;
}

.light-bg-color {
   background-color: #FFF; 
}

.dark-bg-color {
    background-color: #303030;
}

.primary-color {
    color: #369FFF;
}

.primary-bg-red {
    color: #F23847;
}

.primary-bg-green {
    color: #8AC53E;
}

.primary-bg-yellow {
    color: #FFD143;
}

.secondary-color {
    color: #BDBDBD;
}

.dark-color {
    color: #303030;
}

.light-color {
    color: #fcf5eb;
}

/* HEADER */

#header {
    color: #FFF;
    height: 25vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header h1 {
    font-size: 10vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header .btn {
    position: relative;
    top: 8vh;
    border: 1px solid #303030;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

#header .btn > span {
    font-size: 1.12em;
    font-weight: medium;
}

#header .btn-outline-dark:hover {
    background-color: #369FFF;
}

#header .btn-outline-dark:hover > i {
    color: #FFF;
}

#header .circle {
    display: block;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: relative;
    top: 10vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#imagem {
    background-color: #C09578;
    background-image: url(../img/tamara-bellis-A3Gd2b-98_g-unsplash.jpg);
    background-position: center;
    background-size: cover;
}


@media(max-width: 764px) {
    #header {
        height: auto;
    }

    #header .circle {
        margin-top: 20px;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        position: unset;
    }

    #header h1 {
        font-size: 3em;
        text-align: center;
        margin-top: 20px;
    }

}

/* INFORMAÇÕES PESSOAIS */

#dados-pessoais {
    margin-top: 250px;
    margin-bottom: 100px;
}

#dados-pessoais .form-check {
    margin-left: 11px;
}

@media(max-width: 764px) {
    #dados-pessoais {
        margin-top: 100px
    }
}