@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

.primary-bg-color {
    background-color: #369FFF;
}

.secondary-bg-color {
    background-color: #C09578;
}

.light-bg-color {
   background-color: #FFF; 
}

.dark-bg-color {
    background-color: #303030;
}

.primary-color {
    color: #369FFF;
}

.primary-bg-red {
    color: #F23847;
}

.primary-bg-green {
    color: #8AC53E;
}

.primary-bg-yellow {
    color: #FFD143;
}

.secondary-color {
    color: #BDBDBD;
}

.dark-color {
    color: #303030;
}

.light-color {
    color: #fcf5eb;
}